/********** GENERAL STYLING **********/

/* Initial Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    font-family: Verdana, sans-serif;
    background: url(../images/background-image.webp) center center/cover;
}

/********** CONTENT STYLING **********/

/* Main Area Styling */

main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

/********** HEALTH AREA STYLING **********/

#health-area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    font-weight: bold;
    background: rgba(48, 255, 127, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.28);
}

/********** BATTLEFIELD AREA STYLING **********/

/* General Battlefield Styling */

#battlefield {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.28);
}

/* Player Area Styling */

#player-area {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 1rem;
    max-width: 35rem;
    padding: 1rem;
}

#player-card-desc {
    display: flex;
    gap: 0.5rem;
    flex-flow: column nowrap;
}

/* Card Styling */

#card {

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 150px;
	height: 225px;
	background: white;
	border: 2px solid black;
	border-radius: 20px;
	box-shadow: 0  0 30px white;
	background: rgb(0,176,255);
	background: linear-gradient(0deg, rgba(0,176,255,1) 0%, rgba(0,233,238,1) 100%);

}

#card-image {

	margin-top: 10px;
	border-radius: 10px;
	width: 180px;
	height: 180px;
	max-width: 90%;
	max-height: 90%;
	background: url(../images/goblin.jpg) center center/cover;
	border: 2px solid black;

}

#card-container {

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	width: 100%;
    margin: 1rem;
	font-weight: bold;
	color: white;

}

/* Arrow Styling */

#arrow-container {

    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    font-weight: bold;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;

}

#arrow-container button {

    width: 3.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.28);

}

/* Enemy Area Styling */

#enemy-area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 35rem;
    padding: 1rem;
}

#enemy-image {
    width: 90vw;
    height: 90vh;
    max-width: 180px;
    max-height: 180px;
}

#enemy-card-placement {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#enemy-card-desc {
    text-align: right;
    width: 50%;
    padding: 1rem;
}

#enemy-attack, #enemy-defense {
    font-size: 150%;
    font-weight: bold;
    margin: 0.5rem 0;
}

/* Fighting Phase Styling */

#score {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    max-width: 45rem;
    padding: 2rem;
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.28);
}

/* MEDIA QUERIES */

@media (width > 48rem) {

    /* Battlefield */

    #battlefield {
        flex-flow: row nowrap;
        justify-content: center;
        height: clamp(30rem, 50vh, 60rem);
    }

    /* Score */

    #score {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        max-width: 5rem;
        padding: 1rem;
        height: 100%;
    }

    /* Player Area */

    #player-area {
        height: 100%;
    }

    #card {
        width: 200px;
        height: 300px;
        font-size: 150%;
    }

    /* Enemy Area */

    #enemy-area {
        height: 100%;
    }

}